{% extends "base.html" %}

{% block content %}


<h2 class="title">
    Qui sommes nous ?
</h2>
<p>
    Nous sommes une association 1901 implantée à Thorigné Fouillard. Nous proposons des services aux particuliers pour
    réduire leur empreinte écologique. Nous nous attaquons à nos habitudes de consommation pour tendre vers la
    décroissance.
</p>

<h2>Nos Ambitions</h2>
<ul>
    <li>Enrayer notre société de consommation et en particulier le réflexe : J'ai besoin, j’achète.</li>
    <li>Proposer de faire un pas, facilement acceptable par le plus grand nombre, vers une consommation plus
        durable (à l'image des mouvements de la décroissance, de la simplicité volontaire, ou encore de la
        sobriété)
    </li>
    <li>Mettre en œuvre une approche "virale" ou "venant du bas" plus propice à une révolution des usages</li>
    <li>Stimuler le partage, la cohésion et la solidarité à une époque où les conditions climatiques nous
        imposeront ces "compétences"
    </li>
</ul>

<h2>Nos Projets</h2>

<h3>Une Objethèque : La mutualisation des équipements</h3>

<p>Dans nos foyers, on retrouve bon nombre d'équipements que nous achetons mais que nous n'utilisons finalement que très
    peu.</p>
<p>C'est tout à fait le genre d'achats qui pourraient facilement être évité, si une solution alternative existait.</p>
<p>A l'image d'une bibliothèque, L'objethèque proposent d'organiser le stockage et la mise à
    disposition d'équipements partagés.</p>
<p>
    Voici quelques exemples d'équipements : tondeuse, porte vélo, remorque, grand véhicule, appareils de cuisine
    (raclette, fondu...), sono, broyeur végétaux, diable, barnum...
</p>

<h3>Ateliers / Cafés-Réparations</h3>
<p>Nous organisons régulièrement des rencontres où nos bénévoles et partenaires partagent leurs connaissances, leurs
    compétences en bricolage, couture, astuce d'entretien...</p>
<p>Chacun peut amener son équipement défectueux en vu d'être aidé, guidé pour la réparation.</p>

<h3>Le partage de voitures</h3>
<p>Le transport est un sujet particulièrement impactant, dans ce domaine, nous proposons la mise en place d'une solution
    qui permette d'éviter d'acheter/entretenir un (second?) véhicule, et dépanner en cas de problème.</p>
<img src="/IMG_3267_mini.jpeg" alt="photo d'une twingo noire garée dans la rue" style=""/>
<p>
    A ce jour, nous partageons un véhicule par l'intermédiaire d'une plateforme de partage de véhicules entre
    particuliers.
    Pour l'instant, la prise du véhicule se fait sur rendez-vous, prochainement il sera possible de prendre le véhicule
    de manière autonome depuis son smartphone.</p>


<h3>Le tiers-lieu</h3>

<p>C'est sans doute le projet le plus ambitieux et le moins circonscrit à ce jour.</p>
<p>Avec l'objethèque et l'auto-partage nous assurons notre premier objectif : la décroissance, reste à traiter le sujet
    du lien social. Pour cela, nous étudions la création d'un tiers lieu.</p>

<p>Un lieu de convivialité permettant de partager du temps ou des connaissances au travers d'ateliers, d'expérimenter,
    de pratiquer, de s'informer... Un lieu polyvalent ouvert au plus grand nombre, permettant d’accueillir les
    évènements d'associations ou de particuliers.</p>

<p>Concrètement on imagine :</p>
<ul>
    <li>un lieu de convivialité, où une asso peut faire une réunion/repas/AG/After-entraînement, installé dans des
        canapés
    </li>
    <li>un lieu où l'on apprend à construire un semoir en bois, son potager vertical</li>
    <li>un lieu où l'on peut expérimenter des solutions low tech</li>
    <li>un lieu où l'on peut trouver des gens avec des compétences et l'envie de les partager, auprès de qui on peut
        confronter ses idées de projets, son imagination...
    </li>
    <li>un lieu où quelqu'un peut présenter des tuto coiffures / cuisine / informatique...</li>
    <li>un lieu où on arrive avec un aspirateur cassé et on repart avec un aspirateur fonctionnel</li>
</ul>
<p>A ce sujet, nous continuons à apprendre sur les différentes organisations possibles, nous visitons d'autres tiers
    lieux inspirant, nous sommes à l'écoute des éventuels participants, des présentateurs/acteurs volontaires...</p>


<h2>Nos Valeurs</h2>

<h3>L'écologie pragmatique</h3>
<ul>
    <li> Il n'y a pas de course au plus écologique. Il n'existe pas d'écolo parfait. Chacun doit pouvoir
        définir son propre niveau d'écologie sur les différents domaines de sa vie, par exemple, être libre
        d'utiliser une solution thermique sans être montré du doigt.
    </li>
    <li> Même si l'équipement n'est pas une solution parfaite du point de vu écologique, elle peut avoir sa
        place et ses usages. Ex: Il vaut mieux réutiliser du matériel d'occasion que de le jeter pour une
        version bio-sourcée.
    </li>
    <li> Il vaut mieux partager une ressource, même "polluante", à plusieurs, que de laisser chacun acheter
        la sienne dans son coin.
    </li>
    <li> Proposer des alternatives plus écologiques quand c'est possible, sensibiliser aux changements
        d'usages (ex: tondeuse manuelle, ou ne plus tondre (ex gazon sauvage / japonais) )
    </li>
    <li> Les achats doivent faire l'objet d'une étude sur la réparabilité et l'empreinte écologique
        (construction + usage + entretien + recyclage)
    </li>
    <li> Réparer c'est mieux que remplacer</li>
</ul>


<h3>La Solidatité et la Cohésion</h3>
<p>
    La caractère associatif des communautés de partage est important : Ce n'est pas un service municipal. Les adhérents
    se regroupent autour d'un projet commun qui leur impose de collaborer, résoudre des conflits, définir un mode de
    gouvernance, prendre des décisions à plusieurs... C'est la base du vivre ensemble et pourtant dans la vie du
    citoyen, nous avons peu d'opportunité de rentrer en relation avec les gens qui nous entourent.
</p>

{% endblock content %}
