{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
    <link rel="icon" type="image/png" href="/favicon.ico">
    {% endblock favicon %}
    {% include "_variables.html" %}
    {% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    {% endblock fonts %}
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="bulma.min.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="copa.css") }}">
    {% block head %}
    {% endblock head %}
</head>

<body>

    <header>
    {{ macros::render_header() }}
    </header>
    <br/>
    <br/>
    <div class="hero">
        {% set repair_cafe = get_page(path="projets/repair-cafes.md") %}
        {% set objetheque = get_page(path="projets/objetheque.md") %}
        {% set voiture = get_page(path="projets/voiture.md") %}
        {% set tiers_lieu = get_page(path="projets/tiers_lieu.md") %}
        <div class="container is-fluid">
                <!-- 
                    +-----+
                    |1 2 3|
                    +-----+
                    |  4  |
                    +-----+
                -->

            <div class="tile is-ancestor">

            <div class="tile is-vertical is-7">
                {% block left %}
                <div class="tile">
                <!-- 1 -->
                <div class="tile is-parent is-vertical ">
                    {{ macros::render_article(article=repair_cafe)}}
                </div>

                <!-- 2 -->
                <div class="tile is-parent is-vertical">
                    {{ macros::render_article(article=objetheque)}}
                </div>

                <!-- 3 -->
                <div class="tile is-parent is-vertical"">
                    {{ macros::render_article(article=voiture)}}
                </div>


                </div>

                <!-- 4 -->
                <div class="tile is-parent">
                    {{ macros::render_article(article=tiers_lieu) }}
                </div>
                {% endblock left %}
            </div>
            <!-- right part -->
            <div class="tile is-parent">
                <article class="tile is-child notification" style="background: rgba(0,0,0,0)">
                <div class="content">
                    <p class="title">Découvrir</p>
                    <p class="subtitle">la CoPa</p>
                    <div class="content">
                    <img class="text-center" style="width: 100%; " src="{{ get_url(path='logo.svg') }}">
                    <!-- Content -->
                    </div>
                </div>
                </article>
            </div>
            </div>

        {% block footer %}
        <footer>
            <small class="subtext">
                &copy; 2023 La Communauté de Partage - <a href="{{ get_url(path='@/pages/legals.md') }}">Mentions
                    Légales</a>
            </small>
        </footer>
        {% endblock footer %}
    </div>
    </div>
</body>

</html>