{% extends "base.html" %}

{% block content %}

<h2 class="title">
    Qui sommes nous ?
</h2>
<p>
    Nous sommes une association 1901 implantée à Thorigné Fouillard. Nous proposons des services aux particuliers pour
    réduire leur empreinte écologique. Nous nous attaquons à nos habitudes de consommation pour tendre vers la décroissance.
</p>

<h2>Nos Ambitions</h2>
<ul>
    <li>Enrayer notre société de consommation et en particulier le réflexe : J'ai besoin, j’achète.</li>
    <li>Proposer de faire un pas, facilement acceptable par le plus grand nombre, vers une consommation plus
        durable (à l'image des mouvements de la décroissance, de la simplicité volontaire, ou encore de la
        sobriété)
    </li>
    <li>Mettre en œuvre une approche "virale" ou "venant du bas" plus propice à une révolution des usages</li>
    <li>Stimuler le partage, la cohésion et la solidarité à une époque où les conditions climatiques nous
        imposeront ces "compétences"
    </li>
</ul>

<h2>Notre Projet</h2>

<h3>La mutualisation des équipements</h3>

<p>Dans nos foyers, on retrouve bon nombre d'équipements que nous achetons mais que nous n'utilisons finalement que très
    peu.</p>
<p>C'est tout à fait le genre d'achats qui pourraient facilement être évité, si une solution alternative existait.</p>
<p>A l'image d'une bibliothèque municipale, Les communautés de partage proposent d'organiser le stockage et la mise à
    disposition d'équipements partagés.</p>
<p>
    Voici quelques exemples d'équipements : tondeuse, porte vélo, remorque, grand véhicule, appareils de cuisine
    (raclette, fondu...), sono, broyeur végétaux, diable, barnum...
</p>

<h2>Nos Valeurs</h2>

<h3>L'écologie pragmatique</h3>
<p>
<ul>
    <li> Il n'y a pas de course au plus écologique. Il n'existe pas d'écolo parfait. Chacun doit pouvoir
        définir son propre niveau d'écologie sur les différents domaines de sa vie, par exemple, être libre
        d'utiliser une solution thermique sans être montré du doigt.
    </li>
    <li> Même si l'équipement n'est pas une solution parfaite du point de vu écologique, elle peut avoir sa
        place et ses usages. Ex: Il vaut mieux réutiliser du matériel d'occasion que de le jeter pour une
        version bio-sourcée.
    </li>
    <li> Il vaut mieux partager une ressource, même "polluante", à plusieurs, que de laisser chacun acheter
        la sienne dans son coin.
    </li>
    <li> Proposer des alternatives plus écologiques quand c'est possible, sensibiliser aux changements
        d'usages (ex: tondeuse manuelle, ou ne plus tondre (ex gazon sauvage / japonais) )
    </li>
    <li> Les achats doivent faire l'objet d'une étude sur la réparabilité et l'empreinte écologique
        (construction + usage + entretien + recyclage)
    </li>
    <li> Réparer c'est mieux que remplacer</li>
</ul>
</p>

<h3>L'Entraide</h3>
<p>
    Quand le matériel est partagé, que les plannings sont visibles des autres, l'entraide devient encore plus facile.
    Par exemple, le planning de ma communauté m'indique que j'emprunte une remorque le même jour qu'un autre membre,
    nous pouvons nous entraider pour charger/décharger et partager, en plus de la remorque, un moment plus convivial.
</p>

<h3>La Solidatité et la Cohésion</h3>
<p>
    La caractère associatif des communautés de partage est important : Ce n'est pas un service municipal. Les adhérents
    se regroupent autour d'un projet commun qui leur impose de collaborer, résoudre des conflits, définir un mode de
    gouvernance, prendre des décisions à plusieurs... C'est la base du vivre ensemble et pourtant dans la vie du
    citoyen, nous avons
    peu d'opportunité de rentrer en relation avec les gens qui nous entourent.
</p>


{% endblock content %}
